{% extends "layout/movieLayout.njk" %}
{% block movieEach %}
  <li class="moviesSecond__list__elem">
    <img src="{{ data.image.url }}" class="moviesSecond__list__elem__image" alt="{{ data.title }} image">
      <h3 class="moviesSecond__list__elem__title">{{ data.title }}</h3>
      <p class="moviesSecond__list__elem__desc">{{ data.intro | safe }}</p>
      <a href="/movies/id/{{ data.id }}">
        <p class="moviesSecond__list__elem__rating">Click on the text to see more</p>
      </a>
    </li>
  {% endblock %}
</li>