.container {
  text-align: center;
}

.elem-btn {
  color: white;
  background-color: hsla(271, 76%, 53%, 0.658);
  border-radius: 10px;
  border-style: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  min-width: 50px;
}

.elem-btn:hover {
  background-color: hsl(271, 76%, 50%);
}